.addRate {
  padding-top: 2em;
  padding-bottom: 2em;
}

Form{
  width: 100%;
  height: auto;
}

.sellForm{
  padding-left: 2em;
  padding-right: 2em;
}

.alertDiv{
  width:100%;
  height: 3em;
}

.rateCol {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.rateFormTitle {
  text-align: center;
  font-size: large;
}

.sellFormTitle{
  width: 100%;
  text-align: center;
  font-size: large;
}

.mobileView{
  font-size: small;
}

.browserView{
  font-size: medium;
}

.ratesTable {
  padding: 2em;
  padding-left: 3em;
  padding-right: 4em;
}

Table {
  text-align: center;
}

.rateContainer {
  width: 30em;
}

@media screen and (min-width: 500px) {
  .sellButt {
    width: 30em;
    margin: auto;
  }
}

.sellJumbotron{
  padding: 1.5em;
}

.listingDiv{
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.graphDiv {
  height: 50vh;
  padding: 2em;
  padding-top: 0;
}

.graphDiv2 {
  height: 100vh;
  padding: 2em;
}
.table{
  margin-bottom: 0;
}

canvas{
  width:100% !important;
  height:100% !important;
  margin: auto;
}

.mobileViewGraphDiv{
  width: 100vw;
  height: 50vh;
}

td,th {
  padding: 6px !important;
}